<!DOCTYPE html>
<html lang="fr-fr" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <!--<link rel="stylesheet" href="assets/css/style.css">-->
    <link rel="stylesheet" href="/static/css/font-awesome.min.css">
    <meta name="viewport" content="viewport-fit=cover, width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link rel="stylesheet" href="/static/css/style.css">
  <meta name="format-detection" content="telephone=no" />
  <meta name="msapplication-tap-highlight" content="no" />
    <title>Error</title>
  </head>
  <body class="p-5">
    <h1 class="mb-5 text-center">erreur</h1>
    <h4 class="mb-5 text-center">{{ ErrorMsg }}</h4>
    <script src="/static/js/jquery-3.3.1.min.js"></script>
    <script src="/static/js/bootstrap.js"></script>
  </body>
</html>
